<html>
<head>
  <title>Foodfinding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <section id="content">
      <div class="row login">    
        <div class="col col-lg-4 col-offset-4 m-t-large">
          <section class="panel">

            <header class="panel-heading text-center">Sign In</header>

            <form class="form-horizontal">
              <div class="block">
                <label class="control-label">Username</label>
                <input id="textinput" name="textinput" type="text" placeholder="Username" class="input-xlarge">
              </div>
              
                <!-- Password input-->
              <div class="block">
                <label class="control-label">Password</label>
                <input id="passwordinput" name="passwordinput" type="password" placeholder="Password" class="input-xlarge">
              </div>
              <br/>

                <!-- Button (Double) -->
              <div class="control-group">
                <div class="controls">
                  <button id="btn-login" name="button1id" class="btn btn-primary">Sign in</button>
                  <button id="btn-reset" name="button2id" class="btn btn-warning">Reset</button>
                </div>
              </div>
            </form>

          </section>
        </div>
      </div>
    </section>
  </body>
</html>