<html>
<head>
  <title>Foodfinding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body id="login">
    <div class="container login">

      <form class="form-signin">
        <h3 class="form-signin-heading">Sign in</h3>
        <input name="username" type="text" class="input-block-level" placeholder="Email address">
        <input name="pass" type="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-primary btn-sign" type="submit">Sign in</button>
        <button class="btn btn-warning btn-sign" type="reset">Reset</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>